<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.murphy.gee.sys.mapper.GroupRoleMapper">
  <resultMap id="BaseResultMap" type="com.murphy.gee.sys.entity.GroupRole">
    <id column="mapping_id" jdbcType="BIGINT" property="mappingId" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    mapping_id, group_id, role_id
  </sql>
  <select id="countByRoleId" parameterType="java.lang.Long" resultType="java.lang.Integer">
    select count(1) from sys_mapping_group_role where role_id = #{roleId,jdbcType=BIGINT}
  </select>
  <select id="selectByExample" parameterType="com.murphy.gee.sys.entity.GroupRoleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_mapping_group_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_mapping_group_role
    where mapping_id = #{mappingId,jdbcType=BIGINT}
  </select>

  <select id="initDeptRoles" parameterType="java.lang.Long" resultType="java.lang.Long">
    select
    role_id
    from sys_mapping_group_role
    where group_id = #{groupId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_mapping_group_role
    where mapping_id = #{mappingId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.murphy.gee.sys.entity.GroupRoleExample">
    delete from sys_mapping_group_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.murphy.gee.sys.entity.GroupRole">
    insert into sys_mapping_group_role (mapping_id, group_id, role_id
      )
    values (#{mappingId,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}
      )
  </insert>

  <insert id="insertBatch">
    insert into sys_mapping_group_role (group_id, role_id)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.groupId},#{item.roleId})
    </foreach>
  </insert>

  <insert id="insertSelective" parameterType="com.murphy.gee.sys.entity.GroupRole">
    insert into sys_mapping_group_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mappingId != null">
        mapping_id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mappingId != null">
        #{mappingId,jdbcType=BIGINT},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.murphy.gee.sys.entity.GroupRoleExample" resultType="java.lang.Long">
    select count(*) from sys_mapping_group_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_mapping_group_role
    <set>
      <if test="record.mappingId != null">
        mapping_id = #{record.mappingId,jdbcType=BIGINT},
      </if>
      <if test="record.groupId != null">
        group_id = #{record.groupId,jdbcType=BIGINT},
      </if>
      <if test="record.roleId != null">
        role_id = #{record.roleId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_mapping_group_role
    set mapping_id = #{record.mappingId,jdbcType=BIGINT},
      group_id = #{record.groupId,jdbcType=BIGINT},
      role_id = #{record.roleId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.murphy.gee.sys.entity.GroupRole">
    update sys_mapping_group_role
    <set>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
    </set>
    where mapping_id = #{mappingId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.murphy.gee.sys.entity.GroupRole">
    update sys_mapping_group_role
    set group_id = #{groupId,jdbcType=BIGINT},
      role_id = #{roleId,jdbcType=BIGINT}
    where mapping_id = #{mappingId,jdbcType=BIGINT}
  </update>
</mapper>